Options -Indexes
<FilesMatch "\.(php|phtml|phar|php[0-9]|cgi|pl|py|sh|bash|exe|dll|com|bat|cmd)$">
    Require all denied
</FilesMatch>
<FilesMatch "(^\.env|^\.git|.*\.(bak|backup|old|orig|save|sql|sqlite|log|ini|yml|yaml))$">
    Require all denied
</FilesMatch>
